body {
  width: 100%;
  height: 100vh;
}
.container {
  height: 250px;
  width: min-content;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(10%, 55%);
  padding: 20px;
  left: 42%;
  border-radius: 8px;
}

.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  outline: none;
}
#calcular {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  left: 50%;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 8px;
  background-color: yellow;
}
